:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.karla-font {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: var(--green-200);
  color: var(--grey-900);
  font-size: 16px;
}

.container {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 2rem;
  margin: 4rem auto;
  max-width: 700px;
}

button.btn.btn-primary {
  background-color: var(--green-600);
  border: 0;
  width: 100%;
}
